<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shitagain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tatiax"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tatiax"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shitagain"
        android:usesCleartextTraffic="true">
        <activity android:name=".Cuenta"></activity>
        <activity android:name=".Venta" />
        <activity android:name=".Bebidas" />
        <activity android:name=".NavDrawerr" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>